:root {
    --smaller: .75;
}


.tournament_details {
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 140px;
}

.tournament_details .tournament_items {
    margin: auto;
    width: 150px;
    flex: 1 1;
}

.tournament_details .tournament_items:nth-child(1) {
    font-weight: 400;
    font-size: 16px;
}

.tournament_details .tournament_items:nth-child(2) {
    text-align: right;
}

.tournament_details .tournament_items .value {
    font-weight: 700;
    font-size: 32px;
}



.container {
    position: relative;
}


.timer .tournament_heading {
    font-size: 20px;
    text-align: right;
}

.timer li {
    display: inline-block;
    font-size: 0.5em;
    list-style-type: none;
    padding: 1em;
    padding-right: 0px;
    text-transform: uppercase;
}

.timer li span {
    font-size: 25px;
}

.timer #coutdown {
    width: 50%;
}

.timer li p {
    width: fit-content;
    padding-left: 15px;
    font-size: 15px;
}

.tournament_timer {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tournament_heading {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
}

.tournament_timer ul {
    width: fit-content;
    margin: auto;
}


.tournament_timer li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    padding-right: 0px;
    text-transform: uppercase;
}

.tournament_timer li p {
    width: fit-content;
    padding-left: 15px;
}

.tournament_timer li span {
    display: block;
    font-size: 4.5rem;
}

@media all and (max-width: 768px) {
    .tournament_timer li {
        font-size: calc(1.125rem * var(--smaller));
    }

    .tournament_timer li span {
        font-size: calc(3.375rem * var(--smaller));
    }
}




.container .cont {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 60px;
}

.container_items .user_profile {
    width: 90px;
    height: 85px;
    background: #D9D9D9;
    border-radius: 4px;
}

.container_items .user_name {
    font-weight: 500;
    font-size: 21px;
    margin: 8px 0px;
}

.container_items button {
    padding: 8px 40px;
    background-color: transparent;
    outline: none;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
    margin-top: 5px;
    box-shadow: 2px 2px 9px 3px rgb(255 255 255 / 25%);
}

.container_items .user_bet {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container .cont .container_items {
    width: fit-content;
    /* margin: auto; */
    padding: 0px 20px;
}

.container .cont .container_items .row {
    margin: 20px auto;
}

.container .cont .container_items:nth-child(2) .bets_table {
    height: 45vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px 20px;
    padding-right: 70px;
}

.container .cont .container_items:nth-child(2) .bets_table::-webkit-scrollbar {
    width: 4px;
}

.container .cont .container_items:nth-child(2) .bets_table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.container .cont .container_items:nth-child(2) .bets_table::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


.container .cont .container_items:nth-child(2) .heading {
    padding: 0px 44px;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.container .cont .container_items:nth-child(2) ul {
    display: flex;
    width: 350px;
}

.container .cont .container_items:nth-child(2) li {
    margin: auto;
}

.container .cont .container_items:nth-child(3) .items {
    margin-bottom: 20px;
}

.container .cont .container_items:nth-child(2) .user_profile {
    width: 70px;
    height: 65px;
    margin: 0px 10px;
}

.container .cont li {
    list-style: none;
}